.Form2{
		
		
		line-height: 30px;
		letter-spacing: 2px;
		}

	#Form{


			margin-top: 11rem;
		text-align: center;
		background-color: #0A0D43;
		width: 500px;
		height: 700px;
		margin: 0 auto;	
		border-radius: 10px;
		line-height: 30px;
		color: white;
		font-family: cursive;
		font-size: 20px;
		border-style: inset;	

	}

	#gender{
		margin-right: 120px;
		line-height: 0px?


	}

	#fnerror{

		text-align: right;
	}
	